@{
    Layout = "_SuperAdmin.cshtml";
    ViewBag.Title = "Dashboard";
}

@if (ViewBag.error != null) { 
    <p style="color:orangered">@Html.Raw(ViewBag.error)</p>
}
else
{
    <script type="text/javascript">
    $(document).ready(function() {

        selectmenu(1);

    });
    </script>

    <style>
        .infoDiv {
            height: 175px;
            width: 275px;
            -webkit-user-select: none;
        }

        .info_das {
            height: 100px;
            width: 400px;
        }

        .info-box {
            padding: 20px 26px !important;
            background: #BABABA !important;
            color: #000000;
            margin-bottom: 5px;
            align-content: center;
        }

        .theme-blue-color {
            color: #0069aa !important;
            font-size: 30px !important;
        }

        #infobox .well {
            background-color: transparent;
            box-shadow: none !important;
            border: none;
            border-radius: 0;
            border: 1px solid #AEAEAE;
            min-height: 120px !important;
            padding: 14px !important;
        }

        #infobox .footertext {
            font-size: 16px !important;
        }

        #infobox .val {
            font-size: 20px !important;
        }
    </style>

    <style>
        .ClickDiv {
            transition: 1s;
        }

            .ClickDiv:hover {
                background-color: #d8d8d8;
                transition: 1s;
            }

        .ClickDivZero {
            transition: 1s;
        }

            .ClickDivZero:hover {
                background-color: #f5c4c4;
                transition: 1s;
        }
    </style>

}
<div>
    <a href="/">
        <img title="" style="margin-left:275px;margin-top:125px" alt="Your store name" src="http://localhost:6051/Content/images/logo-admin.png">
    </a>
</div>