@using TheSlice.Models;
@model TheSlice.Models.OrderViewModel
@{
    ViewBag.Title = "Manage Orders";
    Layout = "_SuperAdmin.cshtml";
}

@section Headertitle {
    <h1>
        Manage Orders
    </h1>
}

<script type="text/javascript">
    $(document).ready(function () {
        //var model = @Html.Raw(Json.Encode(Model));
            selectmenu(3);
    });

    function GetClock() {
        var d = new Date();
        var nhour = d.getHours(), nmin = d.getMinutes(), nsec = d.getSeconds(), ap;

        if (nhour == 0) { ap = " AM"; nhour = 12; }
        else if (nhour < 12) { ap = " AM"; }
        else if (nhour == 12) { ap = " PM"; }
        else if (nhour > 12) { ap = " PM"; nhour -= 12; }

        if (nmin <= 9) nmin = "0" + nmin;
        if (nsec <= 9) nsec = "0" + nsec;

        document.getElementById('clockbox').innerHTML = "&nbsp; <i class=\"fa fa-clock-o\"></i>  &nbsp;     " + nhour + ":" + nmin + ":" + nsec + ap + "</b>&nbsp;";
    }

    window.onload = function () {
        GetClock();
        setInterval(GetClock, 1000);
    }
</script>

<div class="col-md-1.5 pull-right" style="margin-right: 2%; color: #ffffff; font-size: 11pt; background-color: #3cb371; padding: 0.5%; border-radius: 4px;" id="clockbox"></div>
<div class="clearfix"></div>


<div class="margin">
    <div id="product-grid" class="customer-results-view">
        @if (Model.OrderList != null)
        {
            @Html.Partial("_OrderGrid", Model.OrderList)
        }
    </div>
</div>
